@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&display=swap");

body {
  background:#000;
  padding: 0;
  margin: 0;
}

#wrapper {
  font-family: "IBM Plex Sans", sans-serif;
  background: #141414;
  color: #ffffff;
  font-size: 15px;
  height: 100%;
  width: 100%;
  min-height: 71em;
}

@media (max-width: 1024px) {
  #wrapper {
    min-height: 0 !important;
  }
  .d-flex {
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-height: initial;
  }
  #sidebar-wrapper2{
    z-index: 12;
  }
  #mapid {
    min-height: 0;
    height: 460px !important;
    width: 100%;
    z-index: 10;
  }
  #range-data {
    display: block;
  }
  #wrapper .sidebar-m {
    flex: 0 !important;
  }
  #sidebar-wrapper{
    /* margin-left: -260px !important; */
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    z-index: 100 !important;
  }
  #sidebar-wrapper .news-b, #sidebar-wrapper .sidebar-heading {
    display: none;
  }
  #sidebar-wrapper #nav-tabContent{
    padding: 0 !important;
  }
  #sidebar-wrapper .years {
    text-align: center !important;
  }
  #wrapper .sidebar-m .years #nav-tab {
    margin: auto !important;
    width:auto !important;
  }
  #sidebar-wrapper #menu-back {
    display: none;
    margin: auto !important;
  }
  #wrapper .sidebar-m .sidebar-heading h3 span {
    text-align: center;
    font-weight: 800;
  }
  .leaflet-container .leaflet-control-attribution {
    background: rgb(27 27 27);
    color: #b7b7b7 !important;
  }
}


#wrapper .sidebar-m {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  background: #000;
}

#wrapper .sidebar-m.rightm {
  background: transparent;
}

#wrapper .sidebar-m .sidebar-heading.heading-top {
  background: #141414;
}

#wrapper .sidebar-m .sidebar-heading h3 {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.2em;
}

#wrapper .sidebar-m .sidebar-heading h3::before {
  content: " ";
  display: block;
  width: 5px;
  margin-top: 4px;
  height: 19px;
  float: left;
  background: #bb003d;
}

#wrapper .sidebar-m .sidebar-heading h3 span {
  display: block;
  margin-left: 10px;
}

#wrapper .sidebar-m .sidebar-heading p {
  font-family: "IBM Plex Serif", serif;
  font-weight: 300;
  font-size: 0.8em;
}

#wrapper .sidebar-m .sidebar-heading h5 {
  font-size: 1em;
  font-weight: 400;
}

#wrapper .sidebar-m .sidebar-heading .flags-tab .pais {
  font-weight: 200;
  font-size: 0.9em;
}

#wrapper .sidebar-m .years #nav-tab {
  border-top: 1px solid #000;
  border-bottom: 1px solid #404040;
  font-size: 0.8em;
  font-weight: 300;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 260px;
  scrollbar-width: none;
}

#wrapper .sidebar-m .years #nav-tab ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

#wrapper .sidebar-m .years #nav-tab .nav-link {
  padding: 0.2rem 1rem 0.4rem;
  border-radius: 0 !important;
  color: #ffffff;
  border-color: transparent;
  white-space: nowrap;
  width: 33%;
}

#wrapper .sidebar-m .years #nav-tab .nav-link.active {
  background: #161616;
  border-bottom: solid 1px #404040;
  color: #bb003d;
  font-weight: 400;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_1l .item_menu_1 {
  padding: 0rem 0rem 0;
  border-bottom: solid 1px #404040;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_1l .item_menu_1_link.active {
  background: #1a1a1a;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_1l .item_menu_1_link a {
  font-size: 0.9em;
  font-weight: 200;
  color: #ffba00;
  text-decoration: none;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_1l .item_menu_1_link a.collapsed {
  color: #ffffff;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_1l .item_menu_1_link a.collapsed:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f105";
  float: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_1l .item_menu_1_link a.collapsed.none:before {
  display: none;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_1l .item_menu_1_link a:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f107";
  float: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_1_show {
  font-size: 0.8em;
  font-weight: 200;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l {
  background: #000;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2 {
  padding: 0.5rem 0rem 0.4rem 0.5rem;
  border-bottom: solid 1px #404040;
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2.active {
  background: #1a1a1a;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2_link a {
  font-size: 1.1em;
  font-weight: 200;
  color: #ffba00;
  text-decoration: none;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2_link a svg {
  margin-right: 0.2rem;
  width: 16px;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2_link a svg * {
  fill: #ffba00;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2_link a.collapsed {
  color: #ffffff;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2_link a.collapsed svg * {
  fill: #ffffff;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2_link a.collapsed:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f105";
  float: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2_link a.collapsed.none:before {
  display: none;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2l .item_menu_2_link a:before {
  font-family: "Font Awesome 5 Pro";
  content: "\f057";
  float: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #454343;
}

#wrapper .sidebar-m #nav-tabContent .items_segment .item_menu_2_show {
  font-size: 0.8em;
  font-weight: 200;
  border-top: solid 1px #404040;
}

#wrapper .sidebar-m #nav-tabContent .nav-item .nav-link {
  font-size: 1.2em;
  color: #ffffff;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

#wrapper .sidebar-m #nav-tabContent .nav-item .nav-link.active {
  font-weight: bold;
  background-color: #1a1a1a;
}

#wrapper .sidebar-m #nav-tabContent .nav-item .nav-link:hover {
  background-color: #1a1a1a;
}

#wrapper .sidebar-m .news-b .news h4 {
  font-size: 1em;
  font-weight: 400;
}

#wrapper .sidebar-m .news-b .news h4 svg {
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  margin-top: 1px;
  margin-right: 4px;
}

#wrapper .sidebar-m .news-b .news h4 svg circle {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#wrapper .sidebar-m .news-b .news h4 svg #eli1 {
  opacity: 0.2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-name: slidein1;
          animation-name: slidein1;
}

#wrapper .sidebar-m .news-b .news h4 svg #eli2 {
  opacity: 0.45;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-name: slidein2;
          animation-name: slidein2;
}

#wrapper .sidebar-m .news-b .news h4 svg #eli3 {
  opacity: 0.55;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-name: slidein3;
          animation-name: slidein3;
}

#wrapper .sidebar-m .news-b .news h4 span {
  display: block;
  margin-left: 10px;
}

#wrapper .sidebar-m .news-b .news .nav-link {
  font-size: 0.9em;
  font-weight: 200;
  padding: 0.2rem 1rem;
  color: #ffffff;
}

@-webkit-keyframes slidein1 {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes slidein1 {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes slidein2 {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes slidein2 {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes slidein3 {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes slidein3 {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}
/*# sourceMappingURL=index.css.map */
#mapid { height: 100%;}


/****** Range Colors *****/
ul#range-subtitles-content li, ul#range-colors-content li {
  display:inline;
}

ul#range-subtitles-content, ul#range-colors-content{
  padding-inline-start: 0px;
  display:flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#range-data{
  position: absolute;
  bottom: 25px;
  left: 20px;
  z-index: 410;
  width: 320px;
}

ul#range-colors-content li div{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 10px;
}

#range-title{
  text-transform: uppercase;
  font-style: italic;
  color: #7d8384;
  margin-bottom: 8px;
  font-weight: bold;
}

#range-subtitles{
  text-transform: uppercase;
    font-size: 12px;
    font-style: italic;
}

#range-detalle-link a{
  color: #7d8384;
  font-style: italic;
  font-size: 11px;
}

#range-detalle-link a:hover{
  text-decoration: none;
}

#description-modal{
  position: absolute;
  width: 250px;
  bottom: 130px;
  left: 20px;
  min-height: 500px;
  background-color: #141414;
  z-index: 999;
  padding: 20px;
  max-height: 75vh;
  overflow-y: auto;
  display: none;
}

.close{
  background-color: #fff!important;
  width: 20px;
  height: 21px;
  border-radius: 10px;
  outline: none;
}

#detail-of{
  color: #7d8384;
  font-style: italic;
}

#detail-range-title{
  font-size: 14px;
  margin-bottom: 5px;
}

.top-description-section-range{
  display: flex;
}

.circles-modal{
  display: flex;
}

.circle-modal-element{
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  margin-left: 10px;
}

.bottom-description-section-range{
  font-size: 10px;
  color: #7d8384;
  margin-top: 5px;
  margin-bottom: 10px;
}

#menu-regions-countries{
  position: absolute;
  z-index: 999;
  right: 0px;
  width: 280px;
}

#separator-menu-regions-countries{
  margin-top: 10px;
  margin-bottom: 5px;
}

#top-menu-regions-countries{
  display: flex;
  padding: 10px;
  background-color: rgba(20, 20, 20, 0.48);
}

#top-menu-regions-countries:hover{
  text-decoration: none;
}

#title-menu-regions-countries{
  font-size: 15px;
  padding: 1.5px 5px;
  color: #7d8384;
}

#arrow-top-menu-regions-countries{
  padding: 4px;
}

#body-menu-regions-countries{
  background-color: #fff;
  height: auto;
  margin-top: 10px;
}

#list-regions-menu-regions-countries, #list-countries-menu-regions-countries{
  padding: 5px 10px;
}

#title-regions-menu-regions-countries, #title-countries-menu-regions-countries{
  font-size: 15px;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
}

.item-content-regions-menu-regions-countries, .item-countries-regions-menu-regions-countries{
  font-size: 14px;
  color: #000;
  margin-top: 4px;
  padding: 5px 10px;
}

.item-countries-regions-menu-regions-countries img{
  width: 25px!important;
  margin-right: 5px;
}

.flags-countries-body > div > div.pr-2.py-0 {
  width: 40px;
}
