// FONT
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&display=swap");

@import "bootstrap/_functions";
@import "bootstrap/_variables";
@import "bootstrap/_breakpoints";

$m_dark: #141414;
$m_dark2: #000;
$m_dark3: #404040;
$m_dark4: #161616;
$m_dark5: #1a1a1a;
$m_dark6: rgb(69, 67, 67);

$m_light: #ffffff;
$m_red: #bb003d;
$m_yellow: #ffba00;

#wrapper {
    font-family: "IBM Plex Sans", sans-serif;
    background: $m_dark;
    color: $m_light;
    font-size: 15px;

    .sidebar-m {
        flex: 0 0 260px;
        background: $m_dark2;
        &.rightm {
            background: transparent;
        }
        .sidebar-heading {
            &.heading-top {
                background: $m_dark;
            }

            h3 {
                font-size: 1.2em;
                font-weight: normal;
                line-height: 1.2em;

                &::before {
                    content: " ";
                    display: block;
                    width: 5px;
                    margin-top: 4px;
                    height: 19px;
                    float: left;
                    background: $m_red;
                }
                span {
                    display: block;
                    margin-left: 10px;
                }
            }
            p {
                font-family: "IBM Plex Serif", serif;
                font-weight: 300;
                font-size: 0.8em;
            }
            h5 {
                font-size: 1em;
                font-weight: 400;
            }
            .flags-tab {
                .pais {
                    font-weight: 200;
                    font-size: 0.9em;
                }
            }
        }

        .years {
            #nav-tab {
                border-top: 1px solid $m_dark2;
                border-bottom: 1px solid $m_dark3;
                font-size: 0.8em;
                font-weight: 300;
                overflow-x: auto;
                overflow-y: hidden;
                flex-wrap: nowrap;
                width: 260px;
                scrollbar-width: none;

                ::-webkit-scrollbar {
                    width: 0px;
                    background: transparent; /* make scrollbar transparent */
                }

                .nav-link {
                    padding: 0.2rem 1rem 0.4rem;
                    border-radius: 0 !important;
                    color: $m_light;
                    border-color: transparent;
                    white-space: nowrap;
                    width: 33%;

                    &.active {
                        background: $m_dark4;
                        border-bottom: solid 1px $m_dark3;
                        color: $m_red;
                        font-weight: 400;
                    }
                }
            }
        }
        #nav-tabContent {
            .items_segment {
                .item_menu_1l {
                    .item_menu_1 {
                        padding: 0rem 0rem 0;
                        border-bottom: solid 1px $m_dark3;
                        transition: background 0.5s linear;

                        &_link {
                            &.active {
                                background: $m_dark5;
                            }
                            a {
                                font-size: 0.9em;
                                font-weight: 200;
                                color: $m_yellow;
                                text-decoration: none;

                                &.collapsed {
                                    color: $m_light;
                                    &:before {
                                        font-family: "Font Awesome 5 Pro";
                                        content: "\f105";
                                        float: right;
                                        transition: all 0.5s;
                                    }
                                    &.none {
                                        &:before {
                                            display: none;
                                        }
                                    }
                                }
                                &:before {
                                    font-family: "Font Awesome 5 Pro";
                                    content: "\f107";
                                    float: right;
                                    transition: all 0.5s;
                                }
                            }
                        }
                    }
                }
                .item_menu_1_show {
                    font-size: 0.8em;
                    font-weight: 200;
                }
                .item_menu_2l {
                    background: $m_dark2;
                    .item_menu_2 {
                        padding: 0.5rem 0rem 0.4rem 0.5rem;
                        border-bottom: solid 1px $m_dark3;
                        transition: background 0.5s linear;
                        &.active {
                            background: $m_dark5;
                        }

                        &_link {
                            a {
                                font-size: 1.1em;
                                font-weight: 200;
                                color: $m_yellow;
                                text-decoration: none;

                                svg {
                                    margin-right: 0.2rem;
                                    width: 16px;
                                    * {
                                        fill: $m_yellow;
                                    }
                                }

                                &.collapsed {
                                    color: $m_light;
                                    svg {
                                        * {
                                            fill: $m_light;
                                        }
                                    }
                                    &:before {
                                        font-family: "Font Awesome 5 Pro";
                                        content: "\f105";
                                        float: right;
                                        transition: all 0.5s;
                                    }
                                    &.none {
                                        &:before {
                                            display: none;
                                        }
                                    }
                                }
                                &:before {
                                    font-family: "Font Awesome 5 Pro";
                                    content: "\f057";
                                    float: right;
                                    transition: all 0.5s;
                                    color: $m_dark6;
                                }
                            }
                        }
                    }
                }
                .item_menu_2_show {
                    font-size: 0.8em;
                    font-weight: 200;
                    border-top: solid 1px $m_dark3;

                    .nav-item {
                        .nav-link {
                            font-size: 1.2em;
                            color: $m_light;
                            transition: background 0.2s linear;
                            &.active {
                                font-weight: bold;
                                background-color: $m_dark5;
                            }
                            &:hover {
                                background-color: $m_dark5;
                            }
                        }
                    }
                }
            }
        }

        .news-b {
            .news {
                h4 {
                    font-size: 1em;
                    font-weight: 400;
                    svg {
                        width: 18px;
                        height: 18px;
                        display: block;
                        float: left;
                        margin-top: 1px;
                        margin-right: 4px;
                        circle {
                            animation-iteration-count: infinite;
                            
                        }
                        #eli1{
                            opacity: 0.2;
                            animation-duration: 3s;
                            animation-delay: 0.2s;
                            animation-name: slidein1;
                        }
                        #eli2{
                            opacity: 0.45;
                            animation-duration: 3s;
                            animation-delay: 0.3s;
                            animation-name: slidein2;
                        }
                        #eli3{
                            opacity: 0.55;
                            animation-duration: 3s;
                            animation-delay: 0.4s;
                            animation-name: slidein3;
                        }
                        
                    }
                    // &::before {
                    //     content: " ";
                    //     display: block;
                    //     width: 25px;
                    //     height: 25px;
                    //     float: left;
                    //     background-image: url("../images/last_n@2x.png");
                    //     background-size: cover;
                    //     margin-top: -3px;
                    // }
                    span {
                        display: block;
                        margin-left: 10px;
                    }
                }
                .nav-link {
                    font-size: 0.9em;
                    font-weight: 200;
                    padding: 0.2rem 1rem;
                    color: $m_light;
                }
            }
        }
    }

    @include media-breakpoint-up(sm) {
    }
}

@keyframes slidein1 {
    0% {
        opacity: 0.2;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes slidein2{
    0% {
        opacity: 0.2;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}


@keyframes slidein3{
    0% {
        opacity: 0.2;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}
