#mapid {
  /*min-height: 780px;*/
  height: auto;
  width: 100%;
  z-index: 10;
}
.leaflet-container {
  background: #191b1b !important;
}

.leaflet-pulsing-icon {
  border-radius: 100%;
}

.leaflet-pulsing-icon:after {
  content: "";
  border-radius: 100%;
  height: 300%;
  width: 300%;
  position: absolute;
  margin: -100% 0 0 -100%;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

.marker-pin {
  background-color: #bb003d59;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/*   .custom-pulse {
    width: 40px !important;
    height: 40px !important;
    background: rgba(187, 0, 61, 0.6);
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: animate 2s linear infinite;
    display: grid;
    place-items: center;
}
@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 64, 0.7), 0 0 0 0 rgba(255, 0, 64, 0.7);
    }
    40% {
        box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 0 rgba(255, 0, 64, 0.7);
    }
    80% {
        box-shadow: 0 0 0 50px rgba(255, 0, 64, 0), 0 0 0 30px rgba(255, 0, 64, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 64, 0), 0 0 0 30px rgba(255, 0, 64, 0);
    }
} */

.radar {
  position: absolute;
  top: 30%;
  left: 43%;
  border-radius: 50%;
  border: 10px solid #fff;
  width: 75px;
  height: 75px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: radar 2s infinite;
  animation: radar 2s infinite;
  opacity: 0;
  overflow: hidden;
}

.radar:nth-child(2) {
  animation-delay: 0.4s;
}

.radar:nth-child(3) {
  animation-delay: 0.9s;
}

.radar:nth-child(4) {
  animation-delay: 0.1s;
}

@keyframes radar {
  10% {
    border: 40px solid #bb003ed7;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  90% {
    width: 50px;
    height: 50px;
  }
  90%,
  100% {
    border: 2px solid #bb003ed7;
    opacity: 0;
  }
  100% {
    width: 25px;
    height: 25px;
  }
}

#btn-spin {
  position: absolute;
  left: 200px;
  z-index: 10;
  font-size: 1.5em;
}

.help {
  font-size: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

.help a.sources {
  float: left;
  margin-left: 50px;
  color: white;
}

.help a.logo {
  float: right;
}

.help a.logo img {
  height: 30px;
}



ul#range-colors-content li div, .leaflet-container path{ 
  transition: fill .75s;
}
.leaflet-tile{ 
  filter: blur(10px);
}
.leaflet-tile.leaflet-tile-loaded{
  filter: blur(0);
  transition: .6s all ease-in;
}
.leaflet-popup.another-popup.leaflet-zoom-animated{
  bottom: 0;
  top: 20px;
}
.another-popup .leaflet-popup-content-wrapper {
background: #1313137a;
color: #eee;
font-size: 12px;
line-height: 24px;
border-radius: 0px;
}
.another-popup .leaflet-popup-content-wrapper a {
color: rgba(200, 200, 200, 0.1);
}
.another-popup .leaflet-popup-tip-container {
width: 50px;
height: 15px;
}
.another-popup .leaflet-popup-tip {
background: transparent;
border: none;
box-shadow: none;
}
#body-menu-regions-countries {
  cursor: pointer;
}
#top-menu-regions-countries:hover #title-menu-regions-countries {
  color: #ffba00 !important;
  transition: .4s;
}
#body-menu-regions-countries [name_c]:hover ,#body-menu-regions-countries [keyid]:hover {
  color: #bb003d;
  font-weight: 700;
  transition: .5s;
}
#wrapper .sidebar-m #nav-tabContent .nav-item .nav-link.active:hover {
  color: #bb003d;
  transition: .2s;
}
li.nav-item img {
  width: 15px;
  height: 15px;
  background: #ffba00;
  margin-right: 2px;
}

